@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Proxima";
    src: url("/public/Proxima\ Nova\ Font.otf");
}

@layer base {
    h1 {
      @apply text-4xl;
    }
    h2 {
      @apply text-3xl;
    }
    h3{
        @apply text-2xl
    }
    h4{
        @apply text-xl
    }
}

li{
    @apply px-4;
    @apply hover:text-gray-300;
}
li:hover{
   @apply text-gray-400
}

html, body{
    width:100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.Container{
    width:1000%;
    max-width: 100%;
    padding:10px 50px;
    margin:0 auto;
}

:root {
    --ck-color-image-caption-background: hsl(0, 0%, 97%);
    --ck-color-image-caption-text: hsl(0, 0%, 20%);
    --ck-color-mention-background: hsla(341, 100%, 30%, 0.1);
    --ck-color-mention-text: hsl(341, 100%, 30%);
    --ck-color-selector-caption-background: hsl(0, 0%, 97%);
    --ck-color-selector-caption-text: hsl(0, 0%, 20%);
    --ck-highlight-marker-blue: hsl(201, 97%, 72%);
    --ck-highlight-marker-green: hsl(120, 93%, 68%);
    --ck-highlight-marker-pink: hsl(345, 96%, 73%);
    --ck-highlight-marker-yellow: hsl(60, 97%, 73%);
    --ck-highlight-pen-green: hsl(112, 100%, 27%);
    --ck-highlight-pen-red: hsl(0, 85%, 49%);
    --ck-image-style-spacing: 1.5em;
    --ck-inline-image-style-spacing: calc(var(--ck-image-style-spacing) / 2);
    --ck-todo-list-checkmark-size: 16px;
}

.ck-editor__editable {
    height: 600px;
    border: none;
    outline: none;
}


